body{
	background: #333;
}
.navbar{
	box-shadow:3px 3px 4px #2ecc71;
	opacity:0.9
}
.navbar .nav-link{
	font-size:20px;
	color:#fff;
	transition: 0.5s;
}
.navbar .nav-link:hover{
	color:#2ecc71;
}
#home-main-section{
	background-image:url('images/home.jpg');
	background-attachment:fixed;
	min-height:800px;
	position:relative;
}
#home-main-section .primary-overlay{
	padding-top:150px;
	padding-bottom:50px;
	background:rgba(0,0,0,0.9);
	min-height:800px;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
}
#home-main-section .fa{
	font-size:40px;
	background:#fff;
	border-radius:5px;
	color:#2ecc71;
}
#explore-main-section .fa{
	font-size:40px;
	background:#333;
	border-radius:5px;
	color:#fff;
}
#create-main-section .fa{
	font-size:40px;
	background:#fff;
	border-radius:5px;
	color:#333;
}
#share-main-section .fa{
	font-size:40px;
	background:#333;
	border-radius:5px;
	color:#fff;
}

